.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background: hsl(189deg 35% 40% / 15%);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.logo-container {
  position: relative;
  width: 76px;
  height: 76px;
  overflow: hidden;
  user-select: none;
}

.logo-container .logo {
  position: absolute;
  top: 0;
  left: 0;
  transition: clip-path 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.svg-1 {
  z-index: 1;
}

.svg-2 {
  z-index: 2;
  opacity: 0;
}

.logo-container:hover .svg-2 {
  opacity: 1;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  display: flex;
  gap: var(--gap, 2em);
  list-style: none;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #24c9d9, #50afdc);
  text-wrap: nowrap;
  font-size: var(--larger-font-size);
}

.primary-navigation li:hover {
  animation: bell-rock-links 0.5s ease-in-out forwards;
}

.primary-navigation a {
  text-decoration: none;
  text-transform: uppercase;
}

.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
}

@media (min-width: 45em) {
  .primary-navigation {
    padding-block: 2rem;
    padding-inline: clamp(2rem, 2.5vw, 5rem);
  }
}

@media (max-width: 45em) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    box-shadow: 9px 0px 10px 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url("https://sapulse.blob.core.windows.net/pulse-bc/apps/porfolio/PhListBold-black.svg");
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("https://sapulse.blob.core.windows.net/pulse-bc/apps/porfolio/PhXBold-black.svg");
  }
}

@keyframes bell-rock-links {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
